.compName {
  display: flex;
  align-items: center;
  gap: 50px;
  &__container {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
  }

  &__info_data {
    word-break: break-all;
    white-space: normal;
  }
  .hide_btn:hover {
    .edit_btn {
      display: inline;
    }
  }
  .hide_btn {
    .edit_btn {
      display: none;
    }
  }
  pre {
    margin: 0 0 0 180px;
  }
  &__logo {
    width: 20%;
  }
}

.company__modal {
  background-color: antiquewhite;
  &_bg {
    position: fixed;
    inset: 0;
    background-color: gray;
    opacity: 0.8;
  }
  &_window {
    width: 500px;
    height: 500px;
    position: fixed;
    inset: 40;
    padding: 50px;
    margin: 0;
    background-color: white;
  }
  &_form {
    display: flex;
    flex-direction: column;
  }
}
