a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  width: 0;
  height: 0;
  line-height: 0;
}
.modalPage {
  overflow: scroll;
  @media (min-width: 1024px) {
    width: 40%;
    height: 70%;
  }
}
.logout {
  color: black;
  justify-items: end;
}
.addImg img {
  padding-left: 10px;
  width: 100%;
  object-fit: contain;
}

.App {
  width: 100%;
  &__header {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.MuiDataGrid-columnHeaderTitle::first-letter {
  text-transform: uppercase;
}
// .App {
//   height: 100vh;
//   &__header {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//   }
//   @media (min-width: 768px) {
//     &__header {
//       width: 100%;
//     }
//     min-width: 768px;
//     display: flex;
//     flex-direction: column;
//   }
//   @media (min-width: 600px) {
//     &__header {
//       width: 65%;
//     }
//   }
//   @media (max-width: 599px) {
//     &__header {
//       width: 30%;
//     }
//   }
// }
