.hidden {
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  width: 0;
  height: 0;
  line-height: 0;
}
.modalPage {
  overflow: scroll;
  @media (min-width: 1024px) {
    width: 40%;
    height: 70%;
  }
}
.logout {
  color: white;
  justify-items: end;
}
.addImg img {
  padding-left: 10px;
  width: 100%;
  object-fit: contain;
}
.list__menu {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  background-color: aqua;
}
